# Data Cleaning

## Initialize

In [8]:
import pandas as pd
import numpy as np

## Drop

In [5]:
df = pd.DataFrame()
try:
    # Drop all rows where col1 > 5
    df.drop(df[df['col1']>5].index, inplace = True)
    assert df['col1'].max() <= 5
except:
    pass

## Filter & Replace

In [ ]:
df = pd.DataFrame()
try:
    # Replace all cell where 'col1' < 5 with 5
    df.loc[df['col1']<=5, 'col1'] = 5
    assert df['col1'].max() <= 5
except:
    pass

## Locate duplicated

In [7]:
df = pd.DataFrame()
try:
    # Return boolean series indicating wheather each row is duplicated or not
    # keep can be any value of ('first', 'last', False); False to show all duplicated rows
    criterion_cols = []
    duplicates = df.duplicated(subset=criterion_cols, keep = False)
    
    # Show duplicated rows
    display(df[duplicates].sort_values())
except:
    pass

Empty DataFrame
Columns: []
Index: []

## Drop duplicated

In [ ]:
df = pd.DataFrame()
try:
    criterion_cols = []
    df.drop_duplicates(subset=criterion_cols, keep = False, inplace = True)
except:
    pass

In [ ]:
## Treat duplicated

df = pd.DataFrame()
try:
    # Combine duplicated rows based on max col1 and mean col2 
    df = df.groupby(df.index).agg({'col1':'max', 'col2':'mean'}).reset_index()
except:
    pass

## Membership Constraints

Each column might be constrained to a certain range

To find rows that have abnormal values, compare column values with their contraints

For example, blood type contains {A, B, AB, O}

Use `wrong_blood_types = set(patiens['blood_type'].difference(blood_types)` to find if `patients` dataframe has any abnormal entry for `'blood_type'` column

Then, use `has_bad_entry = patients['blood_type].isin(wrong_blood_types)` to retrieve a boolean series that reflects whether each row of `patients` has a bad entry for `'blood_type'`

Use `patients[has_bad_entry]` to find rows where `'blood_types'` has an anomaly

## Categorize

In [ ]:
group_names = ['0-200k', '200k-500k', ' 500k+']
try:
    df['income_group'] = pd.qcut(df['income'], q = 3, label = group_names)
except:
    pass

In [ ]:
ranges = [0,200000, 500000, np.inf]
group_names = ['0-200k', '200k-500k', ' 500k+']
try:
    df['income_group'] = pd.qcut(df['income'], label = group_names, bins = ranges)
except:
    pass

In [ ]:
# Replace using mapping

mapping = {'Microsoft':'DesktopOS',
          'MacOS':'DesktopOS',
          'IOS':'MobileOS'}

try:
    df['opereating_system'] = df['operating_system'].replace(mapping)
except:
    pass

## Treat Date Data

In [ ]:
try:
    df['date'] = pd.to_datetime(df['date'], infer_datetime_format = True, errors= 'coerce')
except:
    pass

In [ ]:
try:
    df['date'] = df['date'].dt.strftime("%m-%d-%Y")
except:
    pass

## Missing Data

In [ ]:
# Visualize missing data distribution in a dataset

import missingno as msno
import matplotlib.pyplot as plt

try:
    msno.matrix(df)
    plt.show()
except:
    pass

In [9]:
try:
    missing = df[df['col'].isna()]
    non_missing = df[~df['col'].isna()]
    
    # Examine if there exists a systematic character of missing data
    display(missing.describe())
    display(non_missing.describe())
    
    # Visualize character
    sorted_df = df.sort_values(characters)
    msno.matrix(sorted_df)
    plt.show
except:
    pass

## Comparing Strings

In [ ]:
from fuzzywuzzy import fuzz

# Similarity score
fuzz.WRatio('Reeding', 'Reading')

In [11]:
from fuzzywuzzy import process


string = "a vs b"
choices = pd.Series(['a vs b', 'b vs a', 'a vs c', 'c vs d'])
try:
    process.extract(string, choices, limit = 2)
except:
    pass

ModuleNotFoundError: No module named 'fuzzywuzzy'

In [13]:
import recordlinkage

try:
    idnexer = recordlinkage.Index()

    indexer.block('col1')

    pairs = indexer.index(df1, df2)
    
    compare_cl = recordlinkage.Compare()
    
    # exact match
    compare_cl.exact('col1', 'col1', label = 'col1')
    
    # similar match
    compare_cl.string('col1', 'col1', threshold = 0.85, label = 'col1')
    
    potential_matches = companre_cl.compute(pairs, df1, df2)
    
    matches = potential_matches[potential_matches.sum(axis = 1) > 2]
    
    duplicate_rows = matches.index.get_level_values(1)
    
    non_dupllicates = df2[~df2.index.isin(duplicate_rows)]
    
    df = df1.append(df2)
except:
    pass

ModuleNotFoundError: No module named 'recordlinkage'