# Pandas Merge & Melt

## Initilize

In [65]:
import pandas as pd

taxi_owners=pd.read_csv("taxi_owners.csv", index_col=0)
taxi_veh=pd.read_csv("taxi_veh.csv", index_col=0)

print(taxi_owners.head())
print()
print(taxi_veh.head())

     rid   vid           owner                 address    zip
1  T6285  6285  AGEAN TAXI LLC     4536 N. ELSTON AVE.  60630
2  T4862  4862    MANGIB CORP.  5717 N. WASHTENAW AVE.  60659
3  T1495  1495   FUNRIDE, INC.     3351 W. ADDISON ST.  60618
4  T4231  4231    ALQUSH CORP.   6611 N. CAMPBELL AVE.  60645
5  T5971  5971  EUNIFFORD INC.     3351 W. ADDISON ST.  60618

    vid    make   model  year fuel_type                owner
1  2767  TOYOTA   CAMRY  2013    HYBRID       SEYED M. BADRI
2  1411  TOYOTA    RAV4  2017    HYBRID          DESZY CORP.
3  6500  NISSAN  SENTRA  2019  GASOLINE       AGAPH CAB CORP
4  2746  TOYOTA   CAMRY  2013    HYBRID  MIDWEST CAB CO, INC
5  5922  TOYOTA   CAMRY  2013    HYBRID       SUMETTI CAB CO

## pd.DataFrame.merge()

### Inner Join

In [83]:
taxi_own_veh = taxi_owners.merge(taxi_veh, on='vid', suffixes=('_own','_veh'))

# Alternatively, can specify left_on and right_on
# taxi_own_veh = taxi_owners.merge(taxi_veh, left_on='rid', right_on='rid', suffixes=('_own','_veh'))


taxi_own_veh.index

Int64Index([   0,    1,    2,    3,    4,    5,    6,    7,    8,    9,
            ...
            3509, 3510, 3511, 3512, 3513, 3514, 3515, 3516, 3517, 3518],
           dtype='int64', length=3519)

### Left Join

In [85]:
taxi_own_veh_left = taxi_owners.merge(taxi_veh, on='vid', how="left")
# taxi_own_veh_left["vid"].isnull().count()
taxi_own_veh_left.index
taxi_own_veh_left

,rid,vid,owner_x,address,zip,make,model,year,fuel_type,owner_y
0,T6285,6285,AGEAN TAXI LLC,4536 N. ELSTON AVE.,60630,NISSAN,ALTIMA,2011,HYBRID,AGEAN TAXI LLC
1,T4862,4862,MANGIB CORP.,5717 N. WASHTENAW AVE.,60659,HONDA,CRV,2014,GASOLINE,MANGIB CORP.
2,T1495,1495,"FUNRIDE, INC.",3351 W. ADDISON ST.,60618,TOYOTA,SIENNA,2015,GASOLINE,"FUNRIDE, INC."
3,T4231,4231,ALQUSH CORP.,6611 N. CAMPBELL AVE.,60645,TOYOTA,CAMRY,2014,HYBRID,ALQUSH CORP.
4,T5971,5971,EUNIFFORD INC.,3351 W. ADDISON ST.,60618,TOYOTA,SIENNA,2015,GASOLINE,EUNIFFORD INC.
...,...,...,...,...,...,...,...,...,...,...
3514,T4453,4453,IMAGIN CAB CORP,3351 W. ADDISON ST.,60618,FORD,ESCAPE,2010,HYBRID,IMAGIN CAB CORP
3515,T121,121,TRIBECA CAB CORP,4536 N. ELSTON AVE.,60630,FORD,C-MAX,2014,HYBRID,TRIBECA CAB CORP
3516,T3465,3465,AMIR EXPRESS INC,3351 W. ADDISON ST.,60618,TOYOTA,CAMRY,2014,HYBRID,AMIR EXPRESS INC
3517,T1962,1962,KARY CAB COMPANY,4707 N. KENTON AVE.,60630,TOYOTA,CAMRY,2014,HYBRID,KARY CAB COMPANY
3518,T1031,1031,NECT 42 LLC,6500 N. WESTERN AVE.,60645,FORD,FUSION,2014,HYBRID,NECT 42 LLC

### Right Join

In [84]:
taxi_own_veh_right = taxi_owners.merge(taxi_veh, on='vid', how="right")
taxi_own_veh_right.index
taxi_own_veh

,rid,vid,owner_own,address,zip,make,model,year,fuel_type,owner_veh
0,T6285,6285,AGEAN TAXI LLC,4536 N. ELSTON AVE.,60630,NISSAN,ALTIMA,2011,HYBRID,AGEAN TAXI LLC
1,T4862,4862,MANGIB CORP.,5717 N. WASHTENAW AVE.,60659,HONDA,CRV,2014,GASOLINE,MANGIB CORP.
2,T1495,1495,"FUNRIDE, INC.",3351 W. ADDISON ST.,60618,TOYOTA,SIENNA,2015,GASOLINE,"FUNRIDE, INC."
3,T4231,4231,ALQUSH CORP.,6611 N. CAMPBELL AVE.,60645,TOYOTA,CAMRY,2014,HYBRID,ALQUSH CORP.
4,T5971,5971,EUNIFFORD INC.,3351 W. ADDISON ST.,60618,TOYOTA,SIENNA,2015,GASOLINE,EUNIFFORD INC.
...,...,...,...,...,...,...,...,...,...,...
3514,T4453,4453,IMAGIN CAB CORP,3351 W. ADDISON ST.,60618,FORD,ESCAPE,2010,HYBRID,IMAGIN CAB CORP
3515,T121,121,TRIBECA CAB CORP,4536 N. ELSTON AVE.,60630,FORD,C-MAX,2014,HYBRID,TRIBECA CAB CORP
3516,T3465,3465,AMIR EXPRESS INC,3351 W. ADDISON ST.,60618,TOYOTA,CAMRY,2014,HYBRID,AMIR EXPRESS INC
3517,T1962,1962,KARY CAB COMPANY,4707 N. KENTON AVE.,60630,TOYOTA,CAMRY,2014,HYBRID,KARY CAB COMPANY
3518,T1031,1031,NECT 42 LLC,6500 N. WESTERN AVE.,60645,FORD,FUSION,2014,HYBRID,NECT 42 LLC

### Outer Join

In [90]:
taxi_own_veh_out = taxi_own_veh.merge(taxi_veh, how='outer', on='vid')
taxi_own_veh_out

,rid,vid,owner_own,address,zip,make_x,model_x,year_x,fuel_type_x,owner_veh,make_y,model_y,year_y,fuel_type_y,owner
0,T6285,6285,AGEAN TAXI LLC,4536 N. ELSTON AVE.,60630,NISSAN,ALTIMA,2011,HYBRID,AGEAN TAXI LLC,NISSAN,ALTIMA,2011,HYBRID,AGEAN TAXI LLC
1,T4862,4862,MANGIB CORP.,5717 N. WASHTENAW AVE.,60659,HONDA,CRV,2014,GASOLINE,MANGIB CORP.,HONDA,CRV,2014,GASOLINE,MANGIB CORP.
2,T1495,1495,"FUNRIDE, INC.",3351 W. ADDISON ST.,60618,TOYOTA,SIENNA,2015,GASOLINE,"FUNRIDE, INC.",TOYOTA,SIENNA,2015,GASOLINE,"FUNRIDE, INC."
3,T4231,4231,ALQUSH CORP.,6611 N. CAMPBELL AVE.,60645,TOYOTA,CAMRY,2014,HYBRID,ALQUSH CORP.,TOYOTA,CAMRY,2014,HYBRID,ALQUSH CORP.
4,T5971,5971,EUNIFFORD INC.,3351 W. ADDISON ST.,60618,TOYOTA,SIENNA,2015,GASOLINE,EUNIFFORD INC.,TOYOTA,SIENNA,2015,GASOLINE,EUNIFFORD INC.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3514,T4453,4453,IMAGIN CAB CORP,3351 W. ADDISON ST.,60618,FORD,ESCAPE,2010,HYBRID,IMAGIN CAB CORP,FORD,ESCAPE,2010,HYBRID,IMAGIN CAB CORP
3515,T121,121,TRIBECA CAB CORP,4536 N. ELSTON AVE.,60630,FORD,C-MAX,2014,HYBRID,TRIBECA CAB CORP,FORD,C-MAX,2014,HYBRID,TRIBECA CAB CORP
3516,T3465,3465,AMIR EXPRESS INC,3351 W. ADDISON ST.,60618,TOYOTA,CAMRY,2014,HYBRID,AMIR EXPRESS INC,TOYOTA,CAMRY,2014,HYBRID,AMIR EXPRESS INC
3517,T1962,1962,KARY CAB COMPANY,4707 N. KENTON AVE.,60630,TOYOTA,CAMRY,2014,HYBRID,KARY CAB COMPANY,TOYOTA,CAMRY,2014,HYBRID,KARY CAB COMPANY
3518,T1031,1031,NECT 42 LLC,6500 N. WESTERN AVE.,60645,FORD,FUSION,2014,HYBRID,NECT 42 LLC,FORD,FUSION,2014,HYBRID,NECT 42 LLC

## pd.merge_ordered()

In [95]:
# Default to outer join
# Allows fill_method = 'ffill' : use value from previous row to fill missing value
# Useful for time-series data

pd.merge_ordered?

## pd.merge_asof()

In [96]:
# Default to left join
# Default to fill missing value using previous value, can instead specify direction='forward'
# to use following value, or 'nearest' for either direction

pd.merge_asof?

## pd.DataFrame.query()

In [93]:
pd.DataFrame.query?

### pd.DataFrame.melt()

In [94]:
# pd.DataFrame.melt(id_vars=[], value_vars=[], var_name=[], value_name=[])
# id_vars identify columns to be kept
# value_vars query values to be kept
# if var_name, value_name are not explicitly named, default to variable, value

pd.DataFrame.melt?